name: ci/cd

on: 
  push:
    branches: ["main"]
jobs:
  demo:
  runs-on: ubuntu-latest

  steps:
    - name: code checkout
      uses: action/checkout@v3

    - name: deployed world
      run: echo "hello world"
