name: environment

on:
  workflow_dispatch:

jobs:
  dev:
    runs-on: ubuntu-latest
    environment: dev
    steps:
      - name: Deploy to Dev
        run: echo "Deployed to Dev"

  stage:
    runs-on: ubuntu-latest
    environment: stage
    needs: dev
    steps:
      - name: Deploy to Stage
        run: echo "Deployed to Stage"

  prod:
    runs-on: ubuntu-latest
    environment: prod
    needs: stage
    steps:
      - name: Deploy to Prod
        run: echo "Deployed to Prod"
